docker {
    enabled = true
    remove  = true
}

process {
    executor="slurm"
    queue = 'cpu112c'
    errorStrategy='retry'
    maxRetries=3
    conda="/miniconda3/envs/qiime"

}

params{

i               = "./data"
o               = "./analysis"
d               = "./"

//env
python          = "/miniconda3/bin/python"

//config
map_txt         = "/01.scr/13.16S/scr/map.txt"
vsearch         = "/miniconda3/bin/vsearch"
biom            = "/miniconda3/envs/qiime/bin/biom"

//DB
ref_tre         = "/01.scr/13.16S/db/gg_13_8_otus/trees/97_otus.tree"
fa              = "/01.scr/13.16S/db/gg_13_8_otus/rep_set/97_otus.fasta"

//merge
join_paired     = "/miniconda3/envs/qiime/bin/join_paired_ends.py"

//QC
qc_cpus         = "1"
meger_split_fq  = "/miniconda3/envs/qiime/bin/split_libraries_fastq.py"

//Map
map_cpus        = "4"
pick_otu        = "/miniconda3/envs/qiime/bin/pick_open_reference_otus.py"
params_txt      = "/01.scr/13.16S/scr/params.txt"

//diversity
diver_cpus      = "4"
diversity       = "/miniconda3/envs/qiime/bin/core_diversity_analyses.py"
diver_par       = "/01.scr/13.16S/scr/diversityParams.txt"

//tree
tree_cpus       = "4"
filter_otus     = "/miniconda3/envs/qiime/bin/filter_otus_from_otu_table.py"
filter_fa       = "/miniconda3/envs/qiime/bin/filter_fasta.py"
make_phylogeny  = "/miniconda3/envs/qiime/bin/make_phylogeny.py"

//diff
diff_cpus       = "4"
diff_abun       = "/miniconda3/envs/qiime/bin/differential_abundance.py"

//plot
plot_cpus       = "1"
venn            = "/01.scr/13.16S/scr/venn.R"
heatmap         = "/01.scr/13.16S/scr/heatmap.R"
otu_phy         = "/01.scr/13.16S/scr/OTU_phy.py"
ggtree_heatmap  = "/01.scr/13.16S/scr/ggtree_heatmap.R"
upgma           = "/01.scr/13.16S/scr/upgma_analysis.py"

}















